@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.root-component-honyaku-draggable {
  position: fixed;
  right: 100px;
  bottom: 100px;
  height: 75px;
  width: 75px;
  z-index: 10000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.floating-button:hover {
  opacity: 1.0;
}

.original-text {
  border-bottom-width: 1rem;
}

.translated-text {
  background-color: indigo;
  color: aliceblue;
  opacity: 0.01;
  transition: opacity 0.3s ease-in-out;
}

.translated-text:hover {
  opacity: 1.0;
  z-index: 1000;
}

.translation-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  border-top: 2px solid indigo;
}
